version: "3.7"
services:
  app_container:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: booking-app
    env_file:
      - .env
    ports:
      - 6000:6000

  mongodb_container:
    image: mongo:latest
    container_name: booking-local-mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: booking
      MONGO_INITDB_ROOT_PASSWORD: booking
    ports:
      - 27017:27017
    volumes:
      - mongodb_data_container:/data/db

  grafana:
    image: grafana/grafana-enterprise
    container_name: booking-grafana
    ports:
     - '3000:3000'

  

volumes:
  mongodb_data_container: